<div class="flex flex-col items-center justify-center h-screen">
  <a
    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 w-4/5"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Employee Data
    </h5>

    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
      <li class="py-3 sm:py-4" *ngFor="let d of data | keyvalue">
        <div class="flex items-center space-x-4">
          <div class="flex-1 min-w-0">
            <p
              class="text-sm font-medium text-gray-900 truncate dark:text-white"
            >
              <span *ngIf="d.key !== 'fathers_name'">
                {{ d.key | titlecase }}
              </span>
              <span *ngIf="d.key === 'fathers_name'">Father's Name</span>
            </p>
            <!-- <p class="text-sm text-gray-500 truncate dark:text-gray-400">
              {{ d.value }}
            </p> -->
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            {{ d.value }}
          </div>
        </div>
      </li>
    </ul>
  </a>
</div>
